
pre{
	background: aliceblue;
	overflow: auto;
	width: 50vw;
	word-wrap: pre-wrap;
	margin: 0 auto;
}

span{
	width:100%;
}

.line{
	
	&:nth-child(2n+1){
		background-color: yellow;
		width:100%;
	}
}