
pre{
	background: lemonchiffon;
	overflow: auto;
	width: 70vw;
	word-wrap: pre-wrap;
	margin: 0 auto;
	font-size: 14px;
	color: midnightblue;
	@include padding(10px 2em 1em 10px);

	border: 1px solid coral;
	border-radius: 5px;
}

code{
	margin: 0 auto;
	font-size: 14px;
	color: midnightblue;

}

.comment{
	color: gray;
}

.line{
	height:24px;
	
}

.function{
	color: deepskyblue;
	font-weight: 300;
	font-style: italic;
}

.selector{
	color: DarkOrange; 
	font-weight: 600;
}

.properties{
	color:red;
}

.punctuation{
	color: steelblue; 
	font-weight: 600;
}

.quote{
	color: crimson;
	font-weight: 600;
}

.highlight{
	color: OrangeRed; 
	font-weight: 600;
}