@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);

$montserrat: "Montserrat", Tahoma, sans-serif;
$merriweather: "Merriweather", serif;

*{
  margin: 0;
  padding: 0;
}


body {
    font-family: $merriweather;
    font-weight: 300;
}


.container {
    @include calc(width, "100% - 80px");
    @include padding(10px 20px 0px 20px);
    @include outer-container;
    margin-bottom: 50px;

    h1{
      @include margin(0 null 10px 0);


    p{
      padding-top: 10px;


      strong{
        font-weight: 700;
      }
    }

    section{
      padding-bottom: 10px;
    }
  }
}

	
