* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $merriweather;
    font-weight: 300;
    background-color: $base-background-color;
}

.container {
    @include padding(10px 20px 10px 20px);

    @include outer-container;

    margin-bottom: 50px;
}

section{
    @include padding(20px null 20px 2em);
}

button {
    @include button;

    a {
        color: white;
    }
}