.content-container:nth-child(odd) {
    background-color: peachpuff;

}

.list-container {
    width: 100%;

    h3 {
        @include padding(20px 4em 20px 4em);
    }

}

.content {
    width: 100vw;

    @include padding(50px 4em 50px 4em);

    @include display(flex);

    @include flex-direction(column);

    @include justify-content(center);

    @include align-items(center);

    text-align: center;

    p {
        padding: 10px 0px 10px 0;
        font-size: 12px;
    }

    .video-wrapper {
        overflow: hidden;
        // Optional: Add padding-bottom if necessary
        // For ratio 16:9. 56.25%; if ratio is 4:3. 75%
        position: relative;

        embed,
        object,
        iframe {
            @include position(absolute, 0px null null 0px);

            @include size(100%);
        }
    }
}

#paragraph-wrapper { 
    width: 100vw;

    @include padding(50px 4em 50px 4em);

    @include display(flex);

    @include flex-direction(column);

    @include justify-content(center);

    @include align-items(center);

    text-align: center;

    p {
        padding: 10px 0px 10px 0;
    }
}

button{

    span{
        color:black;
    }
}



