
article:nth-child(odd){
	background-color: lightsteelblue;
}

.list-container{
	width: 100%;

	h3{
		@include padding(20px 4em 20px 4em);

	}
}

.content{
	height: calc(80vh - 30px);
	@include padding(20px 4em 20px 4em);
	@include display(flex);
	@include flex-direction(column);
	@include justify-content(center);
	@include align-items(center);
	text-align: center;
}

iframe{
	height: 50vh;
	width: 50vmax;
}